@import url("../styles/normalize.css");
html {
  overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

.container-large {
  max-width: 60.9375vw;
  margin: 0 auto;
  padding-left: 0.5208333333vw;
  padding-right: 0.5208333333vw;
}

.header__wrapper-top .inner {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 65.1041666667vw;
  margin: 0 auto;
}

.header .inner .item {
  width: max-content;
}
.header p {
  font-family: Raleway;
  font-style: 500;
  font-size: 0.8333333333vw;
  line-height: 1.1458333333vw;
  color: #000;
}
.header a {
  font-family: Raleway;
  font-style: 700;
  font-size: 0.9375vw;
  line-height: 1.1458333333vw;
  color: #000;
}
.header img {
  margin: 1.0416666667vw 0 0 0;
  height: 3.6458333333vw;
}

.home-icon {
  height: 1.5625vw;
  width: 1.5625vw;
  color: #fff;
}

.dropdown {
  font-family: Raleway;
  background-color: #386641;
  max-width: 100vw;
  position: static;
  top: 6.25vw;
  padding: 0.2604166667vw;
  border: 0.1041666667vw solid #4caf50;
  font-style: 600;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
  padding: 0.5208333333vw 7%;
}
.dropdown .header__wrapper-bottom ul {
  list-style: none;
}
.dropdown .header__wrapper-bottom ul li {
  position: relative;
  float: left;
}
.dropdown .header__wrapper-bottom ul li a {
  font-size: 0.8333333333vw;
  padding: 0.4166666667vw;
  color: white;
  display: block;
}
.dropdown .header__wrapper-bottom ul li a:hover {
  transition: all 5s;
  text-decoration: underline yellow;
}
.dropdown .header__wrapper-bottom ul li ul {
  position: absolute;
  left: 0;
  width: 10.4166666667vw;
  background-color: rgba(56, 102, 65, 0.795);
  display: none;
}
.dropdown .header__wrapper-bottom ul li ul li {
  width: 100%;
  border-top: 0.0520833333vw solid rgba(56, 102, 65, 0.795);
}
.dropdown .header__wrapper-bottom ul li:hover > ul {
  display: initial;
}

.section-hero {
  max-width: 100vw;
  background-color: white;
  padding: 0 1.0416666667vw 1.5625vw 0;
}
.section-hero .btn {
  margin-left: 18.2291666667vw;
}

.section-video {
  max-width: 100vw;
  background-image: url("../images/Rectangle 101.png");
  margin-top: 0 auto;
  position: relative;
}
.section-video .btn {
  margin-left: 18.2291666667vw;
}

.btn {
  display: inline-block;
  font-style: 600;
  font-family: Raleway;
  background-color: yellow;
  text-decoration: none;
  font-size: 1.0416666667vw;
  font-weight: 600;
  padding: 0.8333333333vw 1.6666666667vw;
  border-radius: 7.8125vw;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
}
.btn:link {
  display: inline-block;
  font-style: 600;
  font-family: Raleway;
  background-color: yellow;
  text-decoration: none;
  font-size: 1.0416666667vw;
  font-weight: 600;
  padding: 0.8333333333vw 1.6666666667vw;
  border-radius: 7.8125vw;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
}
.btn:visited {
  display: inline-block;
  font-style: 600;
  font-family: Raleway;
  background-color: yellow;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.8333333333vw 1.6666666667vw;
  border-radius: 7.8125vw;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
}
.btn:hover {
  background-color: rgba(9, 44, 9, 0.651);
}
.btn:active {
  background-color: rgba(9, 44, 9, 0.651);
}

.hero {
  margin: 0 auto;
  padding: 0 auto;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 5vw;
  align-items: center;
  justify-content: space-between;
}

.hero-description {
  margin-left: 18.2291666667vw;
  font-size: 1.0416666667vw;
  line-height: 1.6;
  margin-bottom: 2.5vw;
}

.hero-img {
  width: 100%;
}

.heading-primary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.0260416667vw;
  font-size: 2.7083333333vw;
  line-height: 1.05;
  margin-left: 18.2291666667vw;
  margin-top: 1.6666666667vw;
  margin-bottom: 1.6666666667vw;
}

.tag-title {
  font-size: 1.1458333333vw;
  line-height: 1.05;
  margin-left: 18.2291666667vw;
  margin-top: 1.6666666667vwx;
  margin-bottom: 1.6666666667vwx;
}

.section-quality {
  max-width: 100vw;
  padding: 0 auto;
  background-color: #dce4cc;
}

.container {
  font-size: 0.7291666667vw;
  text-transform: uppercase;
  letter-spacing: 0.0390625vw;
  font-weight: 500;
  text-align: center;
  color: #888;
}

.logos {
  display: flex;
  justify-content: center;
}
.logos img {
  height: 100%;
}

.section-testimonials {
  background-image: url("../images/image 32.png");
  grid-template-rows: 0.5fr 2fr;
  align-items: center;
}
.section-testimonials .hero-description {
  font-size: 0.8333333333vw;
  padding-top: 1.3541666667vw;
  margin-left: 0.5208333333vw;
  margin-right: 18.2291666667vw;
}

.color {
  background-color: rgba(242, 248, 244, 0.884);
}

.testimonials-container {
  padding: 1.3541666667vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8333333333vw;
  padding: 0.8333333333vw;
  padding-left: 19.2708333333vw;
  padding-right: 19.2708333333vw;
}

.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
}

.gallery-content {
  font-family: Raleway;
  font-style: 500;
  font-size: 0.8333333333vw;
  line-height: 1.1458333333vw;
  color: #000;
  min-height: 3.125vw;
  padding: 0 2.2916666667vw 0 1.0416666667vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background-color: white;
}

.tag {
  display: block;
  font-weight: 700;
  font-size: 0.9375vw;
  line-height: 1.1458333333vw;
  color: #202020;
}

.gallery-transform {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.gallery-transform:hover {
  transform: scale(1.05);
}

.video {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5vw;
  align-items: center;
  justify-content: space-between;
}

.video-primary {
  font-size: 2.7083333333vw;
  line-height: 1.05;
  margin-left: 18.2291666667vw;
  margin-right: 5.2083333333vw;
  margin-top: 1.6666666667vw;
  margin-bottom: 1.6666666667vw;
  white-space: nowrap;
}

.video-description {
  margin-left: 18.2291666667vw;
  font-size: 1.0416666667vw;
  line-height: 1.6;
  margin-bottom: 1.4583333333vw;
}

.video-img {
  width: 70%;
  border: 1.0416666667vw solid white;
}

.video-text-box {
  color: white;
  padding: 0.8333333333vw;
  display: flexbox;
}

span {
  color: white;
  font-weight: 900;
}

.vector-img {
  position: absolute;
  bottom: 10.4166666667vw;
  right: 23.4375vw;
  width: 1.5%;
}

.favorites {
  background: #f5f5f5;
}
.favorites h2 {
  font-size: 2.2916666667vw;
  line-height: 2.7083333333vw;
  color: #202020;
  margin-bottom: 2.6041666667vw;
}

.container-large {
  padding-left: 0.5208333333vw;
  padding-right: 0.5208333333vw;
}

.favorites__body {
  padding: 3.125vw 0;
  text-align: center;
  width: 60.9375vw;
}

.favorites__carousel {
  margin-bottom: 1.5625vw;
  display: flex;
}

.tree {
  flex-shrink: 0;
  /*margin: 0 auto;*/
  margin: 0 0.2604166667vw;
  background-size: 140px 220px;
}

.tree__body {
  margin: 0 auto;
  position: relative;
  padding: 1.5625vw 1.5625vw 1.3020833333vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 14.84375vw;
  height: 21.3541666667vw;
  background-color: #eee;
  border-radius: 0.5208333333vw;
  transition: 0.7s;
}
.tree__body h3 {
  font-weight: 700;
  font-size: 1.1458333333vw;
  line-height: 1.5625vw;
  color: #202020;
  margin-bottom: 0.78125vw;
}
.tree__body:hover {
  background: #386641;
}
.tree__body:hover > .tree__hover {
  opacity: 1;
}
.tree__body:hover > .tree__img {
  opacity: 0.4;
}

.tree__img {
  position: absolute;
  width: 11.71875vw;
  bottom: 0;
  z-index: 1;
  transition: 0.7s;
}
.tree__img img {
  -o-object-fit: contain;
  object-fit: contain;
  display: inline-block;
}

.tree__hover {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  z-index: 2;
  transition: 0.7s;
}
.tree__hover p {
  font-size: 0.7291666667vw;
  line-height: 1.09375vw;
  color: #fff;
  font-weight: 500;
}

.tree__price {
  margin-top: 0.3645833333vw;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.tree__price p:first-child {
  line-height: 1.25vw;
  opacity: 0.6;
}
.tree__price p:last-child {
  font-size: 1.0416666667vw;
  line-height: 1.5625vw;
}

.tree__btn {
  align-self: flex-start;
}

.sliders__prev,
.sliders__next {
  transform: translate(-50%);
  left: -1.6666666667vw;
  background-color: transparent;
  width: 1.40625vw;
  height: 1.40625vw;
  align-self: center;
  margin-right: 1.25vw;
  cursor: pointer;
}

.sliders__next {
  right: 1.6666666667vw;
  margin-right: 0;
  margin-left: 1.25vw;
  transform: rotate(180deg) translate(-50%);
}/*# sourceMappingURL=main.css.map */