@import url("../styles/normalize.css");
html {
  overflow-x: hidden;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
}

.container-large {
  max-width: 60.9375vw;
  margin: 0 auto;
  padding-left: 0.5208333333vw;
  padding-right: 0.5208333333vw;
}

button,
button a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  font-style: 600;
  font-family: Raleway;
  background-color: yellow;
  text-decoration: none;
  font-size: 1.0416666667vw;
  font-weight: 600;
  margin-left: 18.2291666667vw;
  padding: 0.8333333333vw 1.6666666667vw;
  border-radius: 7.8125vw;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
}
.btn:link {
  display: inline-block;
  font-style: 600;
  font-family: Raleway;
  background-color: yellow;
  text-decoration: none;
  font-size: 1.0416666667vw;
  font-weight: 600;
  padding: 0.8333333333vw 1.6666666667vw;
  border-radius: 7.8125vw;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
}
.btn:visited {
  display: inline-block;
  font-style: 600;
  font-family: Raleway;
  background-color: yellow;
  text-decoration: none;
  font-size: 1.0416666667vw;
  font-weight: 600;
  padding: 0.8333333333vw 1.6666666667vw;
  border-radius: 7.8125vw;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  color: #fff;
}
.btn:hover {
  background-color: rgba(9, 44, 9, 0.651);
}
.btn:active {
  background-color: rgba(9, 44, 9, 0.651);
}

.header__wrapper-top {
  padding: 1.0416666667vw 0 0;
}
.header__wrapper-top__row {
  padding-bottom: 1.0416666667vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  max-width: 65.1041666667vw;
  margin: 0 auto;
  color: #000;
}
.header__wrapper-top__logo {
  text-align: center;
}
.header__wrapper-top__logo img {
  height: 5.15625vw;
}
.header__wrapper-top__logo p {
  text-transform: uppercase;
  color: #000;
}
.header__adress, .header__work-time {
  display: none;
  color: #000;
}

.telephone,
.telephone a {
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 1.4583333333vw;
  text-decoration: none;
  color: #202020;
  text-align: end;
  transition: 0.5s;
}
.telephone:hover,
.telephone a:hover {
  text-decoration: none;
  color: #386641;
}

.dropdown {
  font-family: Raleway;
  background-color: #386641;
  max-width: 100vw;
  position: static;
  top: 6.25vw;
  padding: 0.2604166667vw;
  border: 0.1041666667vw solid #4caf50;
  font-style: 600;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  padding: 0.5208333333vw 13%;
}
.dropdown .header__wrapper-bottom {
  text-transform: uppercase;
}
.dropdown .header__wrapper-bottom ul {
  list-style: none;
}
.dropdown .header__wrapper-bottom ul li {
  position: relative;
  float: left;
  left: 0;
  right: 0;
  align-self: center;
  margin-right: 5px;
}
.dropdown .header__wrapper-bottom ul li a img {
  height: 1.5625vw;
  width: 1.5625vw;
  color: #fff;
  filter: brightness(0) invert(10);
}
.dropdown .header__wrapper-bottom ul li a {
  font-size: 0.8333333333vw;
  padding: 0.2604166667vw;
  color: white;
  display: block;
  text-decoration: none;
}
.dropdown .header__wrapper-bottom ul li a:hover {
  transition: all 5s;
  text-decoration: underline yellow;
}
.dropdown .header__wrapper-bottom ul li ul {
  position: absolute;
  left: 0;
  width: 10.4166666667vw;
  margin-top: 0;
  background-color: rgba(56, 102, 65, 0.795);
  display: none;
  padding: 20px;
}
.dropdown .header__wrapper-bottom ul li ul li {
  width: 100%;
  border-top: 0.0520833333vw solid rgba(56, 102, 65, 0.795);
}
.dropdown .header__wrapper-bottom ul li:hover > ul {
  display: initial;
}

/****SECTION HERO******/
.section-hero {
  max-width: 100vw;
  background-color: white;
}

.hero {
  margin: 0 auto;
  padding: 0 auto;
  display: grid;
  grid-template-columns: 2fr 2.5fr;
  gap: 5vw;
  align-items: center;
  justify-content: space-between;
}

.hero-description {
  margin-left: 18.2291666667vw;
  font-size: 1.0416666667vw;
  line-height: 1.6;
  margin-bottom: 2.5vw;
}

.hero-img {
  width: 100%;
}

.heading-primary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.0260416667vw;
  font-size: 2.7083333333vw;
  line-height: 1.05;
  margin-left: 18.2291666667vw;
  margin-top: 1.6666666667vw;
  margin-bottom: 1.6666666667vw;
}

.tag-title {
  font-size: 1.1458333333vw;
  line-height: 1.05;
  margin-left: 18.2291666667vw;
  margin-top: 1.6666666667vwx;
  margin-bottom: 1.6666666667vwx;
  color: #386641;
}

/*********QUALITY*/
.section-quality {
  max-width: 100vw;
  padding: 0 auto;
  background-color: #dce4cc;
}

.container {
  font-size: 0.7291666667vw;
  text-transform: uppercase;
  letter-spacing: 0.0390625vw;
  font-weight: 500;
  text-align: center;
  /*color: #888;*/
}

.logos {
  display: flex;
  justify-content: center;
}
.logos img {
  height: 100%;
}

.section-services {
  background-image: url("../images/image 32.png");
  grid-template-rows: 0.5fr 2fr;
  align-items: center;
}
.section-services .hero-description {
  font-size: 0.8333333333vw;
  padding-top: 1.3541666667vw;
  margin-left: 0.5208333333vw;
  margin-right: 18.2291666667vw;
}

.color {
  background-color: rgba(242, 248, 244, 0.884);
}

.services-container {
  padding: 1.3541666667vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8333333333vw;
  padding: 0.8333333333vw;
  padding-left: 19.2708333333vw;
  padding-right: 19.2708333333vw;
}

.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  display: block;
  width: 100%;
}

.gallery-content {
  font-family: Raleway;
  font-style: 500;
  font-size: 0.8333333333vw;
  line-height: 1.1458333333vw;
  color: #000;
  min-height: 3.125vw;
  padding: 0 2.2916666667vw 0 1.0416666667vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background-color: white;
}

.tag {
  display: block;
  font-weight: 700;
  font-size: 0.9375vw;
  line-height: 1.1458333333vw;
  color: #202020;
}

.gallery-transform {
  display: block;
  width: 100%;
  transition: all 0.4s;
}
.gallery-transform:hover {
  transform: scale(1.05);
}

.section-video {
  max-width: 100vw;
  background-image: url("../images/Rectangle 101.png");
  margin-top: 0 auto;
  position: relative;
}
.section-video .btn {
  margin-left: 18.2291666667vw;
}

.video {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 5vw;
  align-items: center;
  justify-content: space-between;
}

.video-primary {
  font-size: 2.7083333333vw;
  line-height: 1.05;
  margin-left: 18.2291666667vw;
  margin-right: 5.2083333333vw;
  margin-top: 1.6666666667vw;
  margin-bottom: 1.6666666667vw;
  white-space: nowrap;
}

.video-description {
  margin-left: 18.2291666667vw;
  font-size: 1.0416666667vw;
  line-height: 1.6;
  margin-bottom: 1.4583333333vw;
}

.video-img {
  width: 70%;
  border: 1.0416666667vw solid white;
}

.video-text-box {
  color: white;
  padding: 0.8333333333vw;
  display: flexbox;
}

span {
  color: white;
  font-weight: 900;
}

.vector-img {
  position: absolute;
  bottom: 10.4166666667vw;
  right: 23.4375vw;
  width: 1.5%;
}

.favorites {
  background: #f5f5f5;
}
.favorites h2 {
  font-size: 2.2916666667vw;
  line-height: 2.7083333333vw;
  color: #202020;
  display: flex;
  justify-content: center;
  padding-top: 2.6041666667vw;
}

.container-large {
  padding-left: 0.5208333333vw;
  padding-right: 0.5208333333vw;
}

.favorites__body {
  padding: 3.125vw 0;
  text-align: center;
  width: 60.9375vw;
}

.favorites__carousel {
  margin-bottom: 1.5625vw;
  display: flex;
  justify-content: space-between;
}

.tree {
  display: flex;
  flex-shrink: 0;
  /*margin: 0 auto;*/
  margin-right: 0.5208333333vw;
  background-size: 5.2083333333vw 10.4166666667vw;
}

.tree__body {
  margin: 0 auto;
  position: relative;
  /*padding: 10 / $width * 100vw 10 / $width * 100vw 10 / $width * 100vw;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 14.0625vw;
  height: 19.7916666667vw;
  background-color: #eee;
  border-radius: 0.5208333333vw;
  transition: 0.7s;
}
.tree__body h3 {
  font-weight: 700;
  font-size: 1.1458333333vw;
  line-height: 1.5625vw;
  color: #202020;
  margin-bottom: 0.78125vw;
}
.tree__body:hover {
  background: #386641;
}
.tree__body:hover > .tree__hover {
  opacity: 1;
}
.tree__body:hover > .tree__img {
  opacity: 0.4;
}
.tree__body .tree__btn,
.tree__body .tree__btn a {
  text-decoration: none;
  padding: 0 auto;
  margin-left: 0;
  margin-bottom: 0.5208333333vw;
  text-align: center;
  display: flex;
  align-self: center;
}

.tree__img {
  position: absolute;
  width: 11.71875vw;
  bottom: 0;
  z-index: 1;
  transition: 0.7s;
}
.tree__img img {
  -o-object-fit: contain;
  object-fit: contain;
  display: inline-block;
}

.tree__hover {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  z-index: 2;
  transition: 0.7s;
}
.tree__hover p {
  font-size: 0.7291666667vw;
  line-height: 1.09375vw;
  color: #fff;
  font-weight: 500;
}

.tree__price {
  margin-top: 0.3645833333vw;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.tree__price p:first-child {
  line-height: 1.25vw;
  opacity: 0.6;
}
.tree__price p:last-child {
  font-size: 1.0416666667vw;
  line-height: 1.5625vw;
}

.sliders__prev,
.sliders__next {
  transform: translate(-50%);
  left: -1.6666666667vw;
  background-color: transparent;
  width: 1.40625vw;
  height: 1.40625vw;
  align-self: center;
  margin-right: 1.25vw;
  cursor: pointer;
}

.sliders__next {
  right: 1.6666666667vw;
  margin-right: 0;
  margin-left: 1.25vw;
  transform: rotate(180deg) translate(-50%);
}

/*Testimonaals*/
.testimonials {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.524), rgba(0, 0, 0, 0.7)), url("../images/Rectangle 101.png") no-repeat;
  background-size: cover;
  position: relative;
}
.testimonials__body {
  margin: 0 auto;
  padding: 3.125vw 0;
  display: flex;
  color: #fff;
  font-size: 1.25vw;
  line-height: 1.875vw;
}

.testimonials__prev,
.testimonials__next {
  position: absolute;
  background-color: transparent;
  width: 1.40625vw;
  height: 1.40625vw;
  align-self: center;
  cursor: pointer;
}

.testimonials__next {
  right: 20.8333333333vw;
  transform: rotate(180deg) translate(-50%);
}

.testimonials__prev {
  left: 20.8333333333vw;
  margin-right: 1.25vw;
  cursor: pointer;
  z-index: 10;
}

.testimonial__body {
  max-width: 52.0833333333vw;
  margin: 0 auto;
  text-align: center;
}
.testimonial__head {
  margin-bottom: 2.0833333333vw;
}
.testimonial__img {
  margin: 0 auto;
  width: 5.2083333333vw;
  height: 5.2083333333vw;
  border-radius: 50%;
  overflow: hidden;
  background: #478152;
  flex-shrink: 0;
}
.testimonial__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonial__name h3 {
  font-weight: 600;
  letter-spacing: 0.05em;
}
.testimonial__stars {
  text-align: center;
  letter-spacing: 0.5208333333vw;
  color: #ffd401;
}
.testimonial__text {
  margin-bottom: 1.5625vw;
  font-weight: 500;
  text-align: center;
  text-shadow: 0vw 0vw 0.2083333333vw rgba(0, 0, 0, 0.25);
}

/* Subscribe*/
.subscribe {
  max-width: 100vw;
  background: url("../images/image 32.png") no-repeat;
  background-size: cover;
}
.subscribe__body {
  padding: 2.6041666667vw 0 3.125vw 0;
  text-align: center;
  /* margin-right: 300 / $width * 100vw;
  margin-left: 300 / $width * 100vw;*/
}
.subscribe__body h3 {
  max-width: 44.3229166667vw;
  font-size: 2.2916666667vw;
  /*line-height: 52 / $width * 100vw;*/
  font-weight: 500;
  margin-bottom: 2.6041666667vw;
  margin-left: 27.8125vw;
}
.subscribe__body span {
  font-weight: 700;
  color: #a9d16a;
}
.subscribe__row {
  position: relative;
  /* height: 54 / $width * 100vw;*/
  max-width: 36.4583333333vw;
  margin-left: 31.7708333333vw;
}
.subscribe__row input {
  width: 100%;
  padding: 0.8333333333vw 0 0.8333333333vw 0;
  border-radius: 1.4583333333vw;
  background: #dadada;
  font-size: 0.9375vw;
  line-height: 1.1458333333vw;
  color: #4b4b4b;
  outline: none;
}
.subscribe__row button {
  background-color: yellow;
  font-style: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
.subscribe__btn {
  position: absolute;
  right: 0;
  top: 0;
}

/* FOOTER*/
.footer {
  background: #fff;
}
.footer__widgets {
  padding: 2.6041666667vw 15.625vw 2.8125vw 15.625vw;
  display: flex;
  justify-content: space-around;
}
.footer__copyright {
  padding: 0.78125vw 0;
  background: #454751;
  font-weight: 400;
}
.footer__row {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.footer__text, .footer__text a {
  font-size: 0.7291666667vw;
  line-height: 1.3541666667vw;
  color: #c0c0c0;
}
.footer__text a:hover, .footer__text a a:hover {
  color: #fff;
}
.footer__terms, .footer__terms a {
  font-size: 0.625vw;
  line-height: 1.0416666667vw;
  color: #adbdcc;
}
.footer__terms a:hover, .footer__terms a a:hover {
  color: #fff;
}

.widget a {
  font-weight: 500;
  font-size: 0.8333333333vw;
  line-height: 1.8229166667vw;
  color: #000;
  text-decoration: none;
}
.widget a:hover {
  text-decoration: underline;
  color: #386641;
}
.widget__body {
  margin-bottom: 1.8229166667vw;
  line-height: 1.3541666667vw;
}
.widget__body h2,
.widget__body h3 {
  margin-bottom: 0.78125vw;
  font-size: 0.8333333333vw;
  font-weight: 700;
  line-height: 0.9895833333vw;
  color: #386641;
  text-transform: uppercase;
}
.widget__body li {
  line-height: 1.8229166667vw;
  list-style: none;
}
.widget__body p {
  margin-bottom: 1.8229166667vw;
}
.widget__body p:last-child {
  margin-bottom: 0;
}
.widget__body--right {
  text-align: right;
  margin-bottom: 0;
}
.widget__socials {
  display: flex;
  justify-content: right;
}
.widget__socials-ithem {
  flex-shrink: 0;
  margin: 0.3125vw;
  width: 2.1875vw;
  height: 2.1875vw;
  border-radius: 50%;
  transition: 0.7s;
  background: #ffd401;
}
.widget__socials-ithem:hover {
  background: #386641;
}
.widget__socials-ithem img {
  margin: 0.5729166667vw;
  width: 1.0416666667vw;
  height: 1.0416666667vw;
  filter: brightness(0) invert(10);
}/*# sourceMappingURL=main.css.map */